body {
    background-image: url('elf.jpg');
    background-repeat: repeat-y;
    background-position-x: center;
    background-position-y: center;
    margin: 0;
}
h1 {
    font-size: 50px;
    font-family: Copperplate Gothic;
    color:white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 35px;
    background-color: black;
    margin-bottom: 0px;    
}
p {
    font-family: Nunito;
    color: white;
    font-variant-position: center;
    font-size: 25px;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
a {    
    font-family: Forte;
    font-size: 25px;    
    text-decoration: none;
    font-weight: 1000;
    color: rgb(255, 255, 255);
}
a:hover {
    color: rgb(48, 52, 253);
}
.top {
    display: flex;
    justify-content: space-around;
    padding-bottom: 17px;
    margin-bottom: 25px;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: black;
}
.homejpg1 {
    padding-left: 60vw;
    padding-top: none;  
}
.subgroups {
    font-family: Cambria;
    padding-bottom: 0px;
    padding-top: 0px
}
.album {
    padding-top: 3vw;
    padding-left: 15vw;
    padding-right: 15vw;
}
h2 {
    font-size: 30px;
    font-family: Lucida Bright;
    color: white;
    padding-top: 3px;
}
.one {
    padding-left: 22vw;
    padding-right: 3vw;
}